.container {
  width: 100hv;
  min-height: 100vh;
  padding: 3em;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  color: purple;
}

.logo {
  width: 200px;
}

.title {
  font-size: 2em;
  font-weight: 700;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.list {
  width: 80hv;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;

  &__phrase {
    width: 40%;
    border: 1px grey ridge;
    border-radius: 0.5em;
    padding: 0.5em;

    &-quote {
      line-height: 20px;
    }

    &-character {
      color: green;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  &__title {
    font-size: 1.5em;
    font-weight: 700;
  }

  &__btn {
    max-width: 120px;
  }
}

.hidden {
  display: none;
}