.container {
  width: 100%;
  min-height: 100vh;
  padding: 3em;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  color: purple;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;

  &__phrase {
    width: 50vh;
    border: 1px grey ridge;
    border-radius: 0.5em;
    padding: 0.5em;

    &-quote {
      line-height: 20px;
    }

    &-character {
      color: green;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1em;

  &__title {
    font-size: 1.5em;
    font-weight: 700;
  }

  &__btn {
    max-width: 120px;
    height: 2em;
    border-radius: 5px;
    border: 2px ridge purple;
    background-color: plum;
    color: purple;
    font-weight: 700;
    transition: 300ms;

    &:hover {
      background-color: white;
      scale: 1.1;
    }
  }
}


.formFilter {
  display: flex;
  gap: 1em;

  &__label {
    font-size: 1.2em;
    font-weight: 700;
  }

}